* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
  color: aliceblue;
}

/* body {
  background: url(../../assets/bracket.jpg);
} */

.wrapper {
  display: flex;
  position: absolute;
}

.bracket {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bracket-left, .bracket-right {
  display: flex;
  flex-direction: column;
  margin: -125px 600px 0 80px;
  gap: 105px;
}

.list {
  position: relative;
  top: 270px;
  left: 20px;
  margin-right: 215px;
}

.party_row {
  display: flex;
  position: relative;
  width: 420px;
  margin-bottom: 5px;
}

.list .party_row:last-child {
  margin-bottom: 0;
}

.score {
  /* position: relative; */

  text-align: center;

  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 52px;
  font-weight: 600;



  /* top: 15px; */
  /* width: 300px; */
  width: 110px;

  padding: 12px 0 0 4px;
  /* padding-left: 30px; */
}
/*
.scoreArea {
margin-left:auto;
  margin-right:auto;


} */

.pokemonIcon {
  height: 64px;
  width: 64px;
}

.totalParty {
  position: absolute;
  top: 735px;
  right: 235px;

  /* フォント関連の設定 */
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 80px;
  font-weight: 600;
}

.maxPartyKP {
  position: absolute;
  top: 870px;
  left: 1280px;

  /* フォント関連の設定 */
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 96px;
  font-weight: 600;

  color: #FFF;
}

.maxParty {
  padding: 12px 0 0 0;
}
