* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
  color: aliceblue;
}

body {
  background: url(../../assets/battle_switch_double_timer.png);
}

.wrapper {
  position: fixed;
  display: flex;
}

.p1-party {
  position: relative;
  left: 41px;
}

.p2-party {
  position: relative;
  left: 1694px;
}

.benched {
  filter: brightness(0.5);
}

.active {
  filter: brightness(1);
}

.fainting {
  filter: grayscale(100) brightness(0.8);
}

.pokemonIcons {
  position: relative;
}

.pokemonIcon {
  position: relative;
  display: flex;
  height: 96px;
  width: 96px;
  top: 210px;
  margin-bottom: 42px;
}

.statusAilment {
  position: absolute;
  top: 285px;
  left: 65px;
  height: 32px;
  width: 32px;
}

.faintingIcon {
  position: absolute;
  top: 285px;
  left: 65px;
  height: 32px;
  width: 32px;
}

.terastallized {
  position: absolute;
  top: 200px;
  right: 75px;
  height: 32px;
  width: 32px;
}

.timer {
  position: absolute;
  top: 110px;
  right: 890px;

  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.2em;
}
