* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
  color: aliceblue;
}

body {
  background: url(../../assets/kp_ranking_under.jpg);
}

.wrapper {
  display: flex;
  position: absolute;
}

.list {
  position: relative;
  top: 225px;
  left: 55px;
  margin-right: 22px;
}

.section {
  display: flex;
  padding-bottom: 84px;
  width: 590px;
  height: 70px;
}

.rank {
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 48px;
  font-weight: 600;
  /* padding-top: 14px;
  margin-right: 12px; */

  margin: 15px 15px 0 1px;

  text-align: center;
  width: 60px;
  height: 80px;
}

.pokemonIcon {
  height: 64px;
  width: 64px;
  margin: 10px 0 0 5px;
}
.name {
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 28px;
  font-weight: 600;

  /* padding-top: 20px; */
  margin: 22px 0 0 5px;
  /* padding-left: 25px; */
  /* margin-right: 60px; */

  width: 400px;
  height: 80px;
}

.score {
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 36px;
  font-weight: 600;
  /* padding-top: 20px;
  padding-left: 0px; */

  margin: 22px 0 0 5px;

  text-align: center;
  /* width: 80px;
  height: 80px; */
}

.percent {
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 24px;
  font-weight: 600;
  margin: 35px 15px 0 2px;
  /* padding-top: 5px;
  padding-left: 5px; */

  text-align: center;
  /* width: 80px;
  height: 80px; */
}

.totalParty {
  position: absolute;
  top: 158px;
  left: 190px;

  /* フォント関連の設定 */
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 64px;
  font-weight: 600;
}
