* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
  color: aliceblue;
}

body {
  background: url(../../assets/topcut.jpg);
}

.wrapper {
  display: flex;
  position: absolute;
}

.list {
  position: relative;
  top: 215px;
  left: 10px;
  margin-right: 215px;
}

.party_row {
  display: flex;
  position: relative;
  width: 420px;
  margin-bottom: 35px;
}

.score {
  /* position: relative; */

  text-align: center;

  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 52px;
  font-weight: 600;



  /* top: 15px; */
  /* width: 300px; */
  width: 110px;

  padding: 12px 0 0 4px;
  /* padding-left: 30px; */
}
/*
.scoreArea {
margin-left:auto;
  margin-right:auto;


} */

.pokemonIcon {
  height: 84px;
  width: 84px;
}

.totalParty {
  position: absolute;
  top: 685px;
  right: 250px;

  /* フォント関連の設定 */
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 80px;
  font-weight: 600;
}

.maxPartyKP {
  position: absolute;
  top: 933px;
  left: 1660px;

  /* フォント関連の設定 */
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 96px;
  font-weight: 600;
}

.maxParty {
  padding: 120px 0 0 0;
}
