* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
  color: aliceblue;
}

body {
  background: url(../../assets/kp_ranking.jpg);
}

.wrapper {
  display: flex;
  position: absolute;
}

.list {
  position: relative;
  top: 187px;
  left: 55px;
  margin-right: 77px;
}

.section {
  display: flex;
  padding-bottom: 5px;
}

.rank {
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 48px;
  font-weight: 600;
  padding-top: 14px;
  margin-right: 12px;

  text-align: center;
  width: 55px;
  height: 80px;
}

.pokemonIcon {
  height: 64px;
  width: 64px;
}
.name {
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 32px;
  font-weight: 600;

  padding-top: 20px;
  padding-left: 25px;
  margin-right: 78px;

  width: 250px;
  height: 80px;
}

.score {
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 64px;
  font-weight: 600;
  padding-top: 5px;
  padding-left: 5px;

  text-align: center;
  width: 80px;
  height: 80px;
}

.percent {
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 32px;
  font-weight: 600;
  padding-top: 5px;
  padding-left: 5px;

  text-align: center;
  width: 80px;
  height: 80px;
}

.totalParty {
  position: absolute;
  top: 933px;
  left: 1660px;

  /* フォント関連の設定 */
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 96px;
  font-weight: 600;
}
